@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/static/InterMedium.ttf");
}

@font-face {
    font-family: "Neutral Face";
    src: url("../fonts/natural/NeutralFaceBold.otf");
}

*,
body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

.nav {
    margin-top: 26px;
    padding-left: 68px;
    border-bottom: 1px solid #BAAFFF;
    margin-left: 15px;
    width: 1065px;
}

.navbar_main {
    display: flex;
    align-items: center;
    height: 80px;
    z-index: 6;
    position: relative;
}

.z_index {
    z-index: 4;
}

.nav_links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 76px;
}

.nav_brand {
    width: 90px;
    display: flex;
    justify-content: center;
}

.navbar_border {
    position: absolute;
    opacity: 0.5;
    border-left: 1px solid #BAAFFF;
    top: 0;
    left: 90px;
    height: 431px;
}

.nav-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 132.7%;
    letter-spacing: 0.01em;
    color: #C2BBED;
    cursor: pointer;
}

.nav-link:hover {
    color: #FFFFFF;
}

.header_home {
    background: #5A46D4;
    background-repeat: no-repeat;
    background-size: cover;
    height: 736px;
    border-radius: 20px;
    position: relative;
}

.dark_overlow {
    background: url("../image/ellipse.svg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    z-index: 4;
    border-radius: 20px;
    background-size: cover;
}

.dark_overlow2 {
    background: url("../image/about.svg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    z-index: 4;
    border-radius: 20px;
    background-size: cover;
}

.nav_left_container {
    margin-left: 176px;
    margin-top: 81px;
}

.main_text {
    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 132.7%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 600px;
}

.about_border .head_main {
    margin: 0;
}

.about_border {
    position: relative;
    overflow: hidden;
}

.z_index1 {
    z-index: 7;
}

.note {
    display: flex;
    z-index: 4;
    justify-content: center;
}

.messanges {
    position: absolute;
    bottom: 50px;
    width: 91px;
}

.m_links {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 37px;
}

.sections_text {
    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 132.7%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #3F4E84;
    margin-bottom: 54px;
}

.projects {
    margin-bottom: 100px;
}

.sections_text1 {
    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 132.7%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #3F4E84;
}

.sections_text3 {
    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 132.7%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #3F4E84;
}

.projectss {
    margin-top: 110px;
}

.container_s {
    display: flex;
    justify-content: center;
}

.sections_text {
    margin-left: 12px;
    margin-top: 90px;
}

.main_cards {
    position: relative;
    background: #FBFBFB;
    overflow: hidden;
    height: 398px;
    width: 322px;
    border-radius: 15px;
}

.card_ellepss {
    position: absolute;
    top: 175px;
    width: 100%;
    height: 201px;
    border-radius: 15px;
    overflow: hidden;
}

.card_ellepss img {
    width: 100%;
    height: 100%;
}

.card_img {}

.card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cards_one {
    width: 1378px;
}

.card_f {
    display: flex;
    justify-content: center;
}

.text_header {
    z-index: 22;
    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 132.7%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    left: 24px;
    top: 230px;
}

.passport {
    width: 100%;
    height: 600px;
    background: url("../image/passportblock.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    margin-top: 160px;
    padding: 90px 77px;
    position: relative;
    overflow: hidden;
}

.p_text {
    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 132.7%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #3F4E84;
    width: 500px;
}

.p_description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 132.7%;
    /* or 24px */
    letter-spacing: 0.01em;
    color: #3F4E84;
    width: 470px;
    margin-top: 20px;
}

.p_link {
    margin-top: 40px;
}

.p_link a {
    background: #5B46E3;
    border-radius: 57px;
    padding: 12px 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 132.7%;
    /* identical to box height, or 24px */
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.all_link a {
    padding: 5px 25px;
    border: 1px solid #5B46E3;
    border-radius: 57px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 132.7%;
    /* identical to box height, or 24px */
    letter-spacing: 0.01em;
    color: #5761D7;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.data_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.pro_img img {
    width: 100%;
    height: 525px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    border: 1px solid #0F054C;
}

.pro_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    /* description */
    color: #0F054C;
    width: 500px;
    margin-top: 35px;
}

.m_contact {
    background: #F4F3FF;
    border-radius: 15px;
    padding: 32px 34px;
    height: 212px;
}

.m_c_icon {
    background: #DDDAFF;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.m_c_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 132.7%;
    letter-spacing: 0.01em;
    color: #5761D7;
    margin-left: 20px;
}

.m_c_main {
    display: flex;
    align-items: center;
}

.m_c_description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #8F8BB9;
    margin-top: 22px;
}

.card_c {
    margin-top: 24px;
}

.subscribe {
    height: 446px;
    background: #F4F3FF;
    border: 2px solid #B1A5FC;
    border-radius: 40px;
    margin-top: 110px;
    padding: 90px 77px;
    margin-bottom: 75px;
}

.sb_title {
    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 132.7%;
    /* or 58px */
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #3F4E84;
}

.sb_description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 132.7%;
    /* or 24px */
    letter-spacing: 0.01em;
    color: #3F4E84;
    margin-top: 20px;
}

.sb_form {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.form_input {
    width: 385px;
    height: 55px;
    border: 1px solid #686E8F;
    border-radius: 90px;
    padding: 14px 20px;
    margin-bottom: 22px;
}

.form_input input {
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    border: 0;
}

.form_btn {
    margin-top: 30px;
}

.form_btn button {
    width: 209px;
    height: 49px;
    border: 1px solid #0F054C;
    border-radius: 90px;
    background: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #5B46E3;
    opacity: 0.8;
    flex: none;
    order: 0;
    flex-grow: 0;
}

footer {
    background: url("../image/FooterLight04.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 43px 152px;
}

.footer_description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 418px;
    margin-top: 12px;
}

.f_links {
    width: 48px;
    height: 48px;
    background: #B3A8F5;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    margin-top: 30px;
}

.footer_messanger {
    display: flex;
}

.f_head {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 24px;
}

.f_links_m {
    margin-bottom: 20px;
}

.f_links_m a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}

.header_home.about {
    background: #5A46D4;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    border-radius: 0;
    display: flex;
    justify-content: center;
}

.head_main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.about_border .navbar_border {
    height: 736px;
}

.a_description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    width: 490px;
    margin-top: 32px;
}

.a_image {
    padding-right: 32px;
    padding-top: 41px;
}

.a_image img {
    width: 100%;
}

.about_title {
    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 132.7%;
    /* or 58px */
    letter-spacing: 0.01em;
    text-transform: uppercase;
    /* title */
    color: #3F4E84;
    margin-top: 90px;
    width: 45%;
}

.about_description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    /* description */
    color: #0F054C;
    width: 650px;
    margin-top: 24px;
}

.about_position {
    position: relative;
    overflow: hidden;
    padding-bottom: 75px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.a_border1 {
    opacity: 0.5;
    border-right: 1px solid #0F054C;
    position: absolute;
    right: 500px;
    top: 0;
    height: 10000px;
    z-index: 1;
}

.a_border2 {
    opacity: 0.5;
    border-right: 1px solid #0F054C;
    position: absolute;
    right: 620px;
    top: 0;
    height: 10000px;
    z-index: 1;
}

@media(max-width:1600px) {
    .a_border1 {
        opacity: 0.5;
        border-right: 1px solid #0F054C;
        position: absolute;
        right: 300px;
        top: 0;
        height: 10000px;
        z-index: 1;
    }
    .a_border2 {
        opacity: 0.5;
        border-right: 1px solid #0F054C;
        position: absolute;
        right: 420px;
        top: 0;
        height: 10000px;
        z-index: 1;
    }
}

.about_texts {
    width: 100%;
    display: flex;
    justify-content: center;
}

.child_about_texts {
    padding-left: 180px;
}

.managements {
    background: linear-gradient(105.83deg, #422BD7 31.62%, #6951FE 53.11%, #6951FE 74.61%);
    height: 328px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.manage_f {
    margin-top: 180px;
}

.image_position {
    position: absolute;
    right: 160px;
    top: 40px;
}

.m_card_leader {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    /* description */
    color: #0F054C;
}

.m_card_leader_name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    letter-spacing: 0.01em;
    /* description */
    color: #0F054C;
}

.mail {
    display: flex;
    margin-top: 30px;
    margin-right: 100px;
}

.email_name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #0F054C;
    width: 200px;
    margin-left: 14px;
}

.main_mail {
    display: flex;
    align-items: center;
}

.managements_cards {
    display: flex;
    justify-content: center;
    margin-left: 184px;
}

.managements .navbar_border {
    height: 10000px;
}

.card_m {
    display: flex;
    align-items: center;
    margin-top: -100px;
    position: relative;
    overflow: hidden;
    margin-right: 32px;
    padding-bottom: 100px;
    width: 1232px;
}

.main_textt {
    margin-left: 26px;
    margin-top: -100px;
}

.border_center {
    position: absolute;
    opacity: 0.5;
    border-bottom: 1px solid #0F054C;
    width: 90%;
    z-index: 0;
    right: 0;
    top: 170px;
}

.c_card_img {
    z-index: 2;
    width: 330px;
    height: 330px;
    border-radius: 50%;
    margin-bottom: 100px;
    background-color: #fff;
    overflow: hidden;
}

.c_card_img img {
    object-position: top;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.m_buttons button {
    border: 1px solid #5B46E3;
    border-radius: 57px;
    padding: 5px 25px;
    background: #FFFFFF;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #5761D7;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    right: 0;
    top: 153px;
}

.m_buttons {
    z-index: 3;
}

.border_left {
    opacity: 0.5;
    border: 1px solid #0F054C;
    position: absolute;
    left: 0;
    height: 800px;
    bottom: 0;
    left: 160px;
}

.test_rejm {
    height: 40px;
    background: #0F054C;
    color: #FFFFFF;
}

.struct {
    margin-bottom: 163px;
}

.data_bg {
    width: 100%;
    padding: 24px 34px;
    position: relative;
    background: #F4F3FF;
    border: 1px solid rgba(90, 70, 212, 1);
    border-radius: 10px;
    position: relative;
    margin-top: 80px;
}

.open_data {
    margin-right: 149px;
}

.port_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.managements .nav_links {
    width: 70%;
}

.cridit_card {
    position: absolute;
    right: -22px;
    top: 124px;
    transform: rotate(-45deg);
    border-radius: 10px;
    overflow: hidden;
}

.op_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #0F054C;
    width: 800px;
    min-height: 147px;
    display: flex;
    align-items: center;
}

.open_positions {
    display: flex;
    justify-content: center;
    width: 140px;
    height: 140px;
    text-align: center;
    background: #F4F3FF;
    /* primary */
    border: 1px solid #5A46D5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.f_positions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.download_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #5A46D5;
    margin-top: 5px;
}

.main_language button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    opacity: 0.9;
    background: #4D38CC;
    border-radius: 60px;
    border: 0;
    outline: none;
    padding: 8px 11px;
    display: flex;
}

.main_language button svg {
    margin-right: 8px;
}

.lang_menu {
    background: #4D38CC;
    border-radius: 10px;
    padding: 8px 11px;
    margin-top: 8px;
    position: absolute;
    z-index: 2;
    width: 107px;
}

.list_lang a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #FFFFFF;
    opacity: 0.9;
    text-decoration: none;
}

.contact_messenger {
    display: flex;
    margin-top: 13px;
}

.contact_messenger .f_linkss {
    margin-right: 30px;
}

.ph_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #F4F3FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone_number {
    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 46px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #5A46D5;
    margin-left: 30px;
}

.phone_link {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

#wrap {
    height: 500px;
}

.carerr_text {
    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 132.7%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #3F4E84;
    width: 1000px;
    margin-left: 36px;
    border-bottom: 1px solid rgba(15, 5, 76, 0.5);
    padding-bottom: 30px;
}

.career_cards {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.resume {
    background: #F4F3FF;
    border: 2px solid #B1A5FC;
    border-radius: 40px;
    padding: 52px 59px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.career_text1 {
    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 132.7%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #3F4E84;
    width: 700px;
}

.career_button {
    margin-top: 40px;
}

.career_button a {
    text-decoration: none;
    background: #5B46E3;
    border-radius: 57px;
    padding: 12px 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 132.7%;
    /* identical to box height, or 24px */
    letter-spacing: 0.01em;
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.car_icon {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.car_icon div {
    width: 48px;
    height: 48px;
    background: #F4EBFF;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.car_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    text-align: center;
    /* description */
    color: #0F054C;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 20px;
}

.car_description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #3F4E84;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 8px;
}

.career_title {
    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 132.7%;
    /* or 45px */
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #3F4E84;
    margin-top: 100px;
}

.form_careers {
    width: 540px;
    border-bottom: 1px solid rgba(63, 78, 132, 0.5);
    margin-bottom: 42px;
}

.form_careers input {
    width: 100%;
    border: 0;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
    /* Gray/700 */
    color: #344054;
}

.form_category {
    display: flex;
    justify-content: center;
    margin-top: 42px;
}

.form_files {
    background: #FFFFFF;
    /* title */
    border: 1px dashed #3F4E84;
    border-radius: 10px;
    width: 542px;
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.form_files span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #344054;
}

.f_career {
    width: 300px;
    text-align: center;
}

.f_career_btn {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 50px;
}

.f_career_btn button {
    width: 222px;
    height: 48px;
    left: 609px;
    top: 2455px;
    background: #5B46E3;
    border-radius: 57px;
    border: 0;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 132.7%;
    /* identical to box height, or 24px */
    letter-spacing: 0.01em;
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.onas {
    margin-top: 35px;
}

.onas a {
    border: 1px solid #FFFFFF;
    text-decoration: none;
    border-radius: 100px;
    width: 127px;
    height: 40px;
    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */
    letter-spacing: 0.01em;
    color: #FFFFFF;
    padding: 13px 23px;
}

.onas a svg {
    margin-left: 18px;
}

.main_struct {
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 100px;
}

.main_struct img {
    width: 100%;
}

.nav-item {
    position: relative;
    height: 60px;
    display: flex;
    transition: all 0.3s;
}

.child_menu {
    position: absolute;
    left: 0;
    top: 59px;
    padding: 8px 0;
    width: 270px;
    background: #FFFFFF;
    box-shadow: 0px 5px 16px rgb(0 0 0 / 15%);
    border-radius: 4px;
    transition: all 0.3s;
    display: block;
    z-index: 5;
    opacity: 0;
    transform: translateY(50px);
    pointer-events: none;
    z-index: 7;
    list-style: none;
}

.child_menu li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 132.7%;
    letter-spacing: 0.01em;
    color: #0F054C;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 19px;
    margin: auto;
    display: flex;
    align-items: center;
    display: block;
    padding: 10px 16px;
    font-size: 14px;
    color: #2b343b;
    cursor: pointer;
}

.nav-item:hover .child_menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    border-radius: 4px;
}

ul li ul li a:hover {
    background: #efefef;
}

.managements .nav {
    border: 0;
}

.managements .nav_links {
    width: 100vw;
    border-bottom: 0;
    margin: 0;
    margin-left: 30px;
}

.about_border .nav {
    width: 100vw;
    border-bottom: 0;
    margin: 0;
    margin-left: 30px;
    padding-top: 20px;
}

.managements .navbar_bottom_border {
    border-bottom: 1px solid #BAAFFF;
    width: 100vw;
    position: absolute;
    top: 75px;
    left: 90px;
}

.about_border .navbar_bottom_border {
    border-bottom: 1px solid #BAAFFF;
    width: 100vw;
    position: absolute;
    top: 75px;
    left: 90px;
}

.cards_one_f {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.port_fo .navbar_border {
    height: 330px;
}

.portfolio_names {
    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 132.7%;
    /* or 58px */
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #3F4E84;
}

.mt_footer {
    margin-top: 100px;
}

.footer_cards {
    background: #E7E3FF;
    border-radius: 10px;
    padding: 32px 20px;
    min-height: 293px;
    width: 270px;
}

.f_tel {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    /* description */
    color: #0F054C;
}

.f_email {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    /* description */
    color: #0F054C;
    margin-top: 12px;
}

.f_address {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    /* description */
    color: #0F054C;
    margin-top: 43px;
}

.hambur {
    margin-top: -20px;
    margin-left: 20px;
    margin-right: 20px;
    display: none;
}

.mobile_menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #8572FF;
    overflow-y: hidden;
    text-align: center;
    padding-top: 170px;
    z-index: 9;
    top: -200%;
    transition: .4s;
    display: none;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.mobile_menu.show {
    top: 0px;
    transition: .4s;
}

.navbar_main {
    padding-right: 107px;
}

.about_border .navbar_main {
    padding-right: 247px;
}

@media (max-width:1100px) {
    .footer_description {
        width: fit-content;
    }
    .hambur {
        z-index: 10;
    }
    .nav_brand {
        z-index: 9;
    }
    .mobile_menu {
        display: inline;
    }
    .hambur {
        display: inline;
    }
    .nav {
        display: none;
    }
    .mobile_menu .nav {
        display: inline;
    }
    .p_text {
        width: fit-content;
        font-size: 30px;
    }
    .subscribe {
        height: 100%;
        padding: 10px;
    }
    .form_input {
        width: 100%;
    }
    .main_cards {
        margin-bottom: 30px;
        width: 100%;
    }
    .m_contact {
        margin-bottom: 30px;
    }
    .card_ellepss {
        top: 215px;
    }
    .sections_text3 {
        font-size: 20px;
    }
    .container_s {
        display: block;
    }
    .cridit_card {
        display: none;
    }
    .sb_title {
        font-size: 20px;
    }
    .sb_description {
        width: 300px;
    }
    .cards_one {
        width: 100%;
    }
    .text_header {
        top: 250px;
        z-index: 1;
    }
    .header_home {
        width: 100%;
    }
    .main_text {
        font-size: 20px;
        width: fit-content;
    }
    .nav_left_container {
        margin-left: 0;
    }
    footer {
        padding: 0;
    }
    .p_description {
        width: fit-content;
    }
    .row {
        margin: 0;
    }
    .data_text {
        display: block;
    }
    .container_s {
        padding: 10px;
    }
    footer {
        padding-bottom: 20px;
        padding-top: 30px;
    }
    .f_head {
        margin-top: 30px;
    }
    .pro_title {
        width: fit-content;
    }
    .nav_brand {
        margin-left: 20px;
    }
    .navbar_main {
        padding-right: 20px;
    }
    .a_description {
        width: fit-content;
    }
    .about_texts {
        display: block;
    }
    .cards_one {
        padding: 0;
    }
    .about_description {
        width: fit-content;
    }
    .about_texts {
        background-color: #fff;
        padding: 10px;
    }
    .header_home.about {
        height: 100%;
        padding-bottom: 10px;
    }
    .card_m {
        width: 100%;
        display: block;
    }
    .border_left {
        display: none;
    }
    .m_card_leader_name {
        font-size: 17px;
        width: fit-content;
    }
    .main_mail {
        display: block;
        margin-bottom: 60px;
    }
    .cards_one_f {
        display: block;
    }
    .managements_cards {
        margin-left: 10px;
        background-color: #fff;
    }
    .port_btn {
        display: block;
    }
    .career_text1 {
        width: fit-content;
    }
    .form_files {
        width: 100%;
    }
    .open_positions {
        padding: 20px;
        width: 80px;
        height: 80px;
    }
    .form_careers {
        width: 100%;
    }
    .struct {
        margin: 20px;
    }
    .icon_r {
        display: none;
    }
    .pro_title {
        margin-bottom: 20px;
    }
    .border_center {
        display: none;
    }
    .managements .navbar_border {
        display: none;
    }
    .about_border .navbar_border {
        display: none;
    }
    .navbar_border {
        display: none;
    }
    .phone_number {
        font-size: 15px;
    }
}

* {
    margin: 0;
    padding: 0;
}

.f_links a {
    padding: 0;
    margin: 0;
    display: fk;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Icon 1 */

#nav-icon2 {
    width: 40px;
    height: 30px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}


/* Icon 2 */

#nav-icon2 {}

#nav-icon2 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: #fff;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
    top: 0px;
}

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
    top: 18px;
}

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
    top: 36px;
}

#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
    left: 5px;
    top: 20px;
}

#nav-icon2.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 20px;
}

#nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
    left: 5px;
    top: 29px;
}

#nav-icon2.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
    top: 27px;
}

.managements .navbar_main {
    padding: 0;
}

.main_language {
    z-index: 4;
    position: relative;
    margin-right: 0px;
}

.modal_show_f {
    display: flex;
    justify-content: center;
    background: rgba(17, 17, 17, 0.2);
    width: 100vw;
    height: 100%;
    z-index: 10;
    align-items: center;
    position: fixed;
    top: -300%;
    transition: .4s;
}

.modal_show_f.shows {
    top: 0;
    transition: .4s;
}

.modal_show {
    background: #FFFFFF;
    border-radius: 10px;
    width: 1143px;
    height: 856px;
    z-index: 9;
    padding: 45px 48px;
}

.modal_cards {
    display: flex;
    align-items: center;
}

.modal_borders {
    border-top: 1px solid #0F054C;
    margin-top: 32px;
}

.modal_description {
    height: 200px;
    overflow-y: scroll;
    margin-top: -70px;
    margin-left: 353px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    /* description */
    color: #0F054C;
}

.modal_show ::-webkit-scrollbar-thumb {
    background: #B9B9B9;
    border-radius: 10px;
}

.modal_show ::-webkit-scrollbar {
    width: 12px;
}

.exit_modal {
    border: 0;
    outline: none;
    background: none;
}

.ex_btn_f {
    display: flex;
    justify-content: flex-end;
}